
@{
    ViewData["Title"] = "GetPersonById";
}

<h1>GetPersonById Results</h1>

@model Person

<p>Name: @Model.name</p>
<p>Height: @Model.height</p>
<p>Gender: @Model.gender</p>
<p>Birth Year: @Model.birth_year</p>
<p>Starships: @Model.starships</p>

<a href="/Home/Index">Go Search Another Item</a>